{% extends "base.html" %}

{% block title %}
Conferences - Produzione Scientifica
{% endblock title %}

{% block content %}
<h1>List of Conferences</h1>

<img src="{% url 'conferences_distribution.png' %}" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acronym</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for conference in conferences %}
    <tr>
      <td>
        <a href="">{{ conference.name }}</a>
      </td>
      <td>{{ conference.acronym }}</td>
      <td>{{ conference.ggs_rating }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}