{% extends "base.html" %}

{% block title %}
Conferences - Produzione Scientifica
{% endblock title %}

{% block content %}

<div style="width: 100%; display: flex; justify-content: center;">
  <img style="width: 40%" src="{% url 'conferences_distribution.png' %}" />
</div>

<h1>List of Conferences</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acronym</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for conference in conferences %}
    <tr>
      <td>
        <a href="{% url 'conference_info' conference.id %}">{{ conference.name }}</a>
      </td>
      <td>{{ conference.acronym }}</td>
      <td>{{ conference.ggs_rating }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}