body {
  color: black;
}

table td {
  padding: 5px;
}

table thead th {
  text-align: center;
  font-size: 16pt;
  padding: 7px;
  border: 1px solid black;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(203, 233, 243);
}

table td {
  border-left: 1px solid black;
}

table tr td:last-child {
  border-right: 1px solid black;
}